apiVersion: v1
kind: Service
metadata:
  name: sunday-app-service
  namespace: default
spec:
  selector:
    app: sunday-app
    component: api
  ports:
  - port: 5000
    targetPort: 5000
    protocol: TCP
    name: http
  type: ClusterIP